@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="text-center">
    <h1 class="display-4">@Localizer["Welcome to the logo manager platform"] @ViewBag.username ! </h1>
</div>
