@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Hier komen alle gebruikte bronnen voor het maken van de website</p>


    <table  class="striped">
        <thead>
          <tr>
              <th>Naam</th>
              <th>link</th>
              <th>Beshcrijving</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Materialize designs</td>
            <td><a href="https://materializecss.com/getting-started.html">Material design</a></td>
            <td>de material design van google voor het stylen van de website en de documentatie</td>
          </tr>

        </tbody>
      </table>