@page
@model ResetPasswordConfirmationModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h1>@Localizer["Reset password confirmation"]</h1>
<p>
    
    @Localizer["Your password has been reset,Please"]<a asp-page="./Login" class="waves-effect waves-light btn-small">@Localizer["click here to log in"]</a>
</p>
